		body {
			background-color: #F8F8ee;
			font-family: 'Proxima Nova Regular', 'Helvetica Neue', Calibri, 'Droid Sans', Helvetica, Arial, sans-serif;
			font-size: 18px;
		}
		.main-content {
			margin:auto;
		}
		.txt {
			display: block;
			width: 50%;
			height: 34px;
			padding: 6px 12px;
			font-size: 14px;
			line-height: 1.42857143;
			color: #555;
			background-color: #fff;
			background-image: none;
			border: 1px solid #ccc;
			border-radius: 4px;
		}

		.image-container {
			min-height: 200px;
		}